{% extends 'base.html.twig' %}

{% block title %}{{ 'Dashboard' | trans() }}{% endblock %}

{% block body %}
    <h2>
        Охрана квартир
    </h2>
    <h4>
        В связи с большим количеством квартирных краж, поставьте квартиру под охрану.
    </h4>
    <h4>Наши преимущества: </h4>
    <ul>
        <li>Работаем во всех районах города и области</li>
        <li>Высокий уровень подготовки сотрудников</li>
        <li>Право на задержание преступников</li>
        <li>Надежная круглосуточная защита имущества</li>
        <li>Материальная ответственность</li>
        <li>Преимущества движения на дорогах</li>
    </ul>
    <p>
        Несмотря на прогресс в охранной сфере, квартирные кражи по-прежнему представляют собой серьезную проблему. Установка бронированных дверей и зарешечивание оконных проемов, безусловно, способны стать преградой для преступников, однако все же обеспечивают только пассивную защиту.
    </p>
    <p>
        Важно понимать, что на сегодняшний день правонарушители действуют вполне сознательно и обдуманно. Зачастую они тщательно собирают информацию, изучают жизненный график владельцев квартир, анализируют планировку и расположение жилья. Все чаще для проникновения преступники прибегают не ко взлому, а к разрушению капитальных стен, потолков или полов.
    </p>
    <img alt="Signal" src="/images/signal.jpg" class="m-l-3" style="width: 450px;">
    <img alt="Group" src="/images/group.jpg" class="m-l-3" style="width: 500px;">
    <p>
        В связи с этим, только технической укрепленности недостаточно для обеспечения должной защиты. Эффективно обезопасить свое имущество, а также сохранить здоровье и жизнь близких людей, сейчас позволяет лишь централизованная система охраны.
    </p>
    <p>
        В арсенал нашей службы входят передовые приборы, функции которых задаются в соответствии с особенностями объекта и пожеланиями собственника. Сигнализация состоит из приемно-контрольного прибора, к которому может быть подведено множество разноплановых датчиков, фиксирующих изменения и нарушения в зоне охраняемого пространства.
    </p>
    <p>
        Мы рекомендуем поставить датчики не только на входные двери, но и оборудовать оконные проемы извещателями объемного обнаружения, установить наружную индикацию. Подключенная пультовая охрана и использование современных технических средств, даст возможность зафиксировать проникновение в квартиру даже самым нестандартным способом, а также передать тревожный сигнал в пункт вневедомственной охраны.
    </p>
{% endblock %}